<!-- BEGIN EXAMPLE TABLE PORTLET-->
{% load humanize %}
<div class="portlet light bordered">
	<div class="portlet-title"> 
		
		<div class="caption font-dark">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject bold uppercase">Tabel Pippk</span><br/><br/>
			
		</div>

		<div class="tools"> </div>
	</div>

	<div class="portlet-body">
		<table class="table table-striped table-bordered table-hover" cellspacing="0" width="80%" id="sample_1">
			<thead>
				<tr>
					<th> Kelurahan </th>
					<th> Bagian </th>
					<th> Kegiatan </th>
					<th> Sasaran </th>
					<th> Volume </th>
					<th> Usulan Pagu </th>
					<th> Status </th>
					<th> Pelaksanaan</th>	
					<th> Alasan </th>
				</tr>
			</thead>
			<tbody>
				{% for i in object_list %}
				<tr>
					<td> {{i.rw.kelurahan|default_if_none:"-"}} </td>
					<td> 
					{% if i.rw %}
						Rw {{i.rw}}
					{% elif i.lpm %}
						{{i.lpm}}
					{% elif i.pkk %}
						{{i.pkk}}
					{% elif i.karangtaruna %}
						{{i.karangtaruna}}
					{% endif %}
					</td>
					<td> {{i.kegiatan}} </td>
					<td> {{i.sasaran}}</td>
					<td> {{i.volume}} </td>
					<td>RP {{i.usulan | intcomma}}</td>
					<td> {{i.status}} </td>
					<td><center> {{i.pelaksanaanpippk.all.0.laporan_kegiatan}}{% if not i.pelaksanaanpippk.all %} 0{% endif %}  % </center></td>
					<td> {{i.alasan|default_if_none:"-"}} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>