{% extends "index.html" %}

{% block header %}
<title>Smart Planning Bandung Wetan</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN LAYOUT FIRST STYLES -->
<link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
<!-- END LAYOUT FIRST STYLES -->
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/static/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="/static/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="/static/assets/layouts/layout5/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/layouts/layout5/css/custom.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->

{% endblock %}

{% block content %}
<!-- BEGIN DASHBOARD STATS 1-->
<div class="breadcrumbs">
	<h1><font color="green">Dashboard</font></h1>
	
</div>

<div class="row">
	<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-v2 blue" href="#">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">
					<span data-counter="counterup" data-value="{{musrenbang|length}}">0</span>
				</div>
				<div class="desc">Total Masukan Musrenbang</div>
			</div>
		</a>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-v2 yellow" href="#">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="details">
				<div class="number">
					<span data-counter="counterup" data-value="{{pippk|length}}">0 </div>
				<div class="desc">Total Masukan PIPPK</div>
			</div>
		</a>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
		<a class="dashboard-stat dashboard-stat-v2 green" href="#">
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="details">
				<div class="number">
					<span data-counter="counterup" data-value="0">0</span>
				</div>
				<div class="desc"> Total Masukan Umum </div>
			</div>
		</a>
	</div>
   
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bar-chart font-green-haze"></i>
					<span class="caption-subject bold uppercase font-green-haze"><font color="blue">Kelompok Musrenbang</font></span>
					<span class="caption-helper">Berdasarkan status</span>
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a>
					<a href="#portlet-config" data-toggle="modal" class="config"> </a>
					<a href="javascript:;" class="reload"> </a>
					<a href="javascript:;" class="fullscreen"> </a>
					<a href="javascript:;" class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div id="chart_7" class="chart" style="height: 400px;"> </div>
				<div class="well margin-top-20">
					<div class="row">
						<div class="col-sm-3">
							<label class="text-left">Top Radius:</label>
							<input class="chart_7_chart_input" data-property="topRadius" type="range" min="0" max="1.5" value="1" step="0.01" /> </div>
						<div class="col-sm-3">
							<label class="text-left">Angle:</label>
							<input class="chart_7_chart_input" data-property="angle" type="range" min="0" max="89" value="30" step="1" /> </div>
						<div class="col-sm-3">
							<label class="text-left">Depth:</label>
							<input class="chart_7_chart_input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1" /> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-xs-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bar-chart font-green-haze"></i>
					<span class="caption-subject bold uppercase font-green-haze">Kelompok PIPPK</span>
					<span class="caption-helper">Berdasarkan status</span>
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a>
					<a href="#portlet-config" data-toggle="modal" class="config"> </a>
					<a href="javascript:;" class="reload"> </a>
					<a href="javascript:;" class="fullscreen"> </a>
					<a href="javascript:;" class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div id="chart_pippk" class="chart" style="height: 400px;"> </div>
				<div class="well margin-top-20">
					<div class="row">
						<div class="col-sm-3">
							<label class="text-left">Top Radius:</label>
							<input class="chart_pippk_chart_input" data-property="topRadius" type="range" min="0" max="1.5" value="1" step="0.01" /> </div>
						<div class="col-sm-3">
							<label class="text-left">Angle:</label>
							<input class="chart_pippk_chart_input" data-property="angle" type="range" min="0" max="89" value="30" step="1" /> </div>
						<div class="col-sm-3">
							<label class="text-left">Depth:</label>
							<input class="chart_pippk_chart_input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1" /> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}



{% block 'bottom' %}

<!-- BEGIN CORE PLUGINS -->
<script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS --><!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/static/assets/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>
<script src="/static/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
{% endblock %}

{% block bottom %}
<!-- BEGIN CORE PLUGINS -->
<script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>

<script src="/static/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/static/assets/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>
<script src="/static/assets/layouts/layout5/scripts/demo.min.js" type="text/javascript"></script>
<script src="/static/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->


// <script type="text/javascript">
// 			$(window).load(function(){
// 				$('#award').modal('show');
// 			});
// 		</script>
		<!-- END PAGE LEVEL SCRIPTS -->
<div class="modal fade" id="award" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog alert alert-warning" style="background: #eeeeee;width: 900px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><strong><i class="icon-badge"></i> Selamat Datang di SmartPlanning Bandung Wetan .. !</strong></h4>
			</div>
			<div class="modal-body"> 
				<img src="/static/assets/global/img/PIPPK.png" width="100%">
				
			</div> 
			<div class="modal-footer">
				<button type="button" class="btn red" data-dismiss="modal">Tutup</button>
			  
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script type="text/javascript">
	var kordinir_musrenbang =  {{musrenbang_kordinir.kordinir|length}};
	var belum_kordinir_musrenbang =  {{musrenbang_kordinir.belum|length}};
	var di_tolak_musrenbang =  {{musrenbang_kordinir.tolak|length}};

	var kordinir_pippk =  {{pippk_kordinir.kordinir|length}};
	var belum_kordinir_pippk =  {{pippk_kordinir.belum|length}};
	var di_tolak_pippk =  {{pippk_kordinir.tolak|length}};
</script>
 <script src="/static/assets/pages/scripts/charts-amcharts.js" type="text/javascript"></script>
{% endblock %}