<!-- BEGIN EXAMPLE TABLE PORTLET-->
{% load humanize %}
<div class="portlet light bordered">
	<div class="portlet-title"> 
		{% if request.user.groups.all.0.name == 'musrenbang' or request.user.groups.all.0.name == 'pippk' %}
		<a href="{% url 'MusrenbangAdd' %}" class="btn btn-circle blue" style="float: right;">Tambah</a>	
		{% endif %}
		<div class="caption font-dark">
			<i class="icon-settings font-dark"></i>
			<span class="caption-subject bold uppercase">Tabel Musrenbang 
				{% if not request.user.is_superuser %}
					{{request.user.detailuser.kelurahan |default_if_none:""}}
				{% endif %}
			 </span><br/><br/>
			
		</div>

		<div class="tools"> </div>
	</div>

	<div class="portlet-body">
		<table class="table table-striped table-bordered " id="sample_1">
			<thead>
				<tr>
					{% if request.user.is_superuser %}
					
					<th> Kelurahan </th>
					{% endif %}
					<th> Tahun </th>
					<th> Kegiatan </th>
					<th> Sasaran </th>
					<th> Volume </th>
					<th> Usulan Pagu</th>
					<th> SKPD Tujuan </th>
					<th> Status </th>
					<th> Alasan</th>
					<th width="190 px" class="dontprint"> Actions </th>
				</tr>
			</thead>
			<tbody>
				{% for i in object_list %}
				<tr>
					{% if request.user.is_superuser %}
					<td> {{i.kelurahan |default_if_none:"--"}} </td>
					{% endif %}
					<td> {{i.waktu}} </td>
					<td> {{i.kegiatan}} </td>
					<td> {{i.sasaran}}</td>
					<td> {{i.volume}} </td>
					<td> RP {{i.usulan | intcomma}}</td>
					<td> {{i.skpdtujuan}} </td>
					<td> {{i.status}} </td>
					<td> {{i.alasan}} </td>
					<td class="dontprint">
						{% if request.user.groups.all.0.name == 'musrenbang' or request.user.is_superuser or request.user.groups.all.0.name == 'musrenbang' %}
						{% if i.status == 'belum di akomodir' %}
						{% if not request.user.is_superuser %}
						<a href="{% url 'MusrenbangUpdate' i.id %}" class="btn btn-circle green">Perbarui</a> 
						{% endif %}
						<a href="{% url 'MusrenbangDelete' i.id %}" class="btn btn-circle red">Hapus</a>
						</br>
						</br>
						{% endif %}
						{% endif %}
						<a href="{% url 'MusrenbangDetail' i.id %}" class="btn btn-circle yellow">Detail</a>
						{% if i.status == 'di akomodir' or request.user.is_superuser %}
							<a href="/pelaksanaan-musrenbang/add/?musrenbang={{i.id}} " class="btn btn-circle blue">Kegiatan</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!--  -->
