{% extends "index.html" %}

{% block header %}
    <meta charset="utf-8" />
    <title>SmartPlan | Musrenbang</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN LAYOUT FIRST STYLES -->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
    <!-- END LAYOUT FIRST STYLES -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/static/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/static/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/static/assets/layouts/layout5/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/layouts/layout5/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <h1>Informasi Musrenbang</h1>
    <ol class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="active">Informasi Musrebang</li>
    </ol>
</div>

<div class="row margin-bottom-40">
    <div class="col-lg-12">
        <div class="portlet light about-text">
            <h4><i class="fa fa-check icon-info"></i> Musrenbang Kecamatan</h4>
            <div class="about-quote">
                <h3>Pengertian</h3>
            </div>
            <p class="margin-top-20" align="justify"><b>Musrenbang Kecamatan</b> adalah forum musyawarah tahunan para pemangku kepentingan di tingkat kecamatan untuk mendapatkan masukan kegiatan prioritas dari kelurahan serta menyepakati rencana kegiatan lintas kelurahan di kecamatan yang bersangkutan sebagai dasar penyusunan Rencana Kerja Kecamatan dan Rencana Kerja Satuan Kerja Perangkat Daerah pada tahun berikutnya.</p>
           <div class="about-quote">
                <h3>Tujuan</h3>
            </div>
            <p class="margin-top-20" align="justify"><b>Tujuan umum</b> dari Musrenbang Kecamatan untuk mendorong peran dan partisipasi masyarakat  dalam merumuskan dan pengambilan keputusan bersama-sama pemerintah dalam penyusunan perencanaan pembangunan tahunan di tingkat kecamatan, dan secara khusus Musrenbang Kecamatan bertujuan untuk : </p>

            <ul class="list-unstyled margin-top-10 margin-bottom-10">
                <li>
                    <i class="fa fa-check"></i> Membahas dan menyepakati usulan rencana kegiatan pembangunan desa/kelurahan yang menjadi kegiatan prioritas pembangunan di wilayah kecamatan yang bersangkutan. </li>
                <li>
                    <i class="fa fa-check"></i> Membahas dan menyepakati kegiatan prioritas pembangunan di wilayah kecamatan yang belum tercakup dalam prioritas kegiatan pembangunan desa/kelurahan. </li>
                <li>
                    <i class="fa fa-check"></i> Melakukan klasifikasi atas prioritas kegiatan pembangunan kecamatan sesuai dengan fungsi-fungsi Satuan Kerja Perangkat Daerah (SKPD).</li>
            </ul>

           <div class="about-quote">
                <h3>Mekanisme Pelaksanaan</h3>
            </div>
            <p><b>A. Tahap Persiapan (Pra Musrenbang)</b></p>
            <p class="margin-top-20" align="justify">Tahapan persiapan bertujuan untuk mempersiapkan pelaksanaan Musrenbang Kecamatan agar dapat berjalan dengan efektif, efisien dan terarah. Tahap persiapan meliputi :</p>
            <ul class="list-unstyled margin-top-10 margin-bottom-10">
                <li>
                    <i class="fa fa-check"></i> Pembentukan Tim Penyelenggara Musrenbang Kecamatan berdasarkan keputusan Camat. </li>
                <li>
                    <i class="fa fa-check"></i> Menyusun jadwal dan agenda Musrenbang Kecamatan. </li>
                <li>
                    <i class="fa fa-check"></i> Penyiapan daftar berbagai unsur yang akan dilibatkan dalam musrenbang kecamatan yaitu narasumber, fasilitator, dan peserta. </li>
                <li>
                    <i class="fa fa-check"></i> Menyiapkan dokumen yang diperlukan saat pembahasan Musrenbang Kecamatan, diantaranya : Dokumen Usulan DSP, Data evaluasi program kegiatan, Renstra Kecamatan. </li>
                <li>
                    <i class="fa fa-check"></i> Menyusun isu strategis dan prioritas permasalahan di wilayah Kecamatan yang bersifat lintas kelurahan atau membutuhkan pembiayaan yang besar. </li>
                <li>
                    <i class="fa fa-check"></i> Merekapitulasi prioritas program dan kegiatan pembangunan dari Musrenbang Kelurahan. </li>
                <li>
                    <i class="fa fa-check"></i> Menyusun draft awal sebagai bahan pembahasan pada saat pelaksanaan Musrenbang Kecamatan hasil dari rekapitulasi.</li>
            </ul>
            <p><b>B. Tahap Pelaksanaan</b></p>

            <ul class="list-unstyled margin-top-10 margin-bottom-10">
                <li>
                    <i class="fa fa-check"></i> Pendaftaran peserta  yang dilakukan pada saat pelaksanaan Musrenbang Kecamatan. </li>
                <li>
                    <i class="fa fa-check"></i>  Pembukaan Musrenbang oleh camat dan dilanjutkan dengan pemaparan mengenai prioritas masalah pembangunan kecamatan dan materi Musrenbang </li>
                <li>
                    <i class="fa fa-check"></i> Sidang Pleno I, Pembahasan dan pemaparan Rancangan Rencana Pembangunan kecamatan. </li>
                <li>
                    <i class="fa fa-check"></i>  Sidang Kelompok </li>
                <li>
                    <i class="fa fa-check"></i>  Sidang Pleno II </li>
                <li>
                    <i class="fa fa-check"></i> Pemaparan kegiatan prioritas kecamatan beserta sasarannya, hasil kesepakatan dari masing-masing kelompok dihadapan seluruh peserta Musrenbang. </li>
                <li>
                    <i class="fa fa-check"></i> Pengambilan keputusan menyepakati kegiatan prioritas pembangunan daerah kota di kecamatan.</li>
                <li>
                    <i class="fa fa-check"></i> Rangkuman hasil kesepakatan sidang pleno II, dirumuskan kedalam rancangan berita acara kesepakatan hasil Musrenbang RKPD kota.</li>   
                <li>
                    <i class="fa fa-check"></i>  Penandatanganan berita acara oleh perwakilan peserta dan disetujui oleh Camat, dan penutupan acara oleh Camat. </li>
            </ul>
           
           <div class="about-quote">
                <h3>Unsur-unsur dalam Musrenbang</h3>
            </div>
                <p><b>1. Peserta </b></p>
                <p>Peserta Musrenbang kecamatan terdiri atas para kepala desa dan lurah, delegasi musrenbang desa, delegasi kelurahan, pimpinan dan anggota DPRD kabupaten/kota asal daerah pemilihan kecamatan bersangkutan, perwakilan SKPD, tokoh masyarakat dan pemangku kepentingan lainnya skala kecamatan.</p>
                <p><b>2. Narasumber </b></p>
                <p><b>3. Fasilitator </b></p>
                <p>Fasilitator adalah tenaga terlatih atau berpengalaman yang memiliki persyaratan kompetensi dan kemampuan memandu pembahasan dan proses pengambilan keputusan dalam kelompok diskusi</p>

           <div class="about-quote">
                <h3>Keluaran</h3>
            </div>

            <ul class="list-unstyled margin-top-10 margin-bottom-10">
                <li>
                    <i class="fa fa-check"></i> Daftar prioritas program dan kegiatan pembangunan di wilayah kecamatan menurut SKPD atau gabungan SKPD yang akan disampaikan pada Musrenbang Kota Bandung.</li>
                <li>
                    <i class="fa fa-check"></i>  Kompilasi hasil musrenbang kelurahan menurut urutan prioritas yang disepakati di musrenbang kelurahan, dan dikelompokkan menurut SKPD.</li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}
    <!-- BEGIN CORE PLUGINS -->
    <script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="/static/assets/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>
    <script src="/static/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
{% endblock %}